label{
    font-size: 26px;
    font-weight: bold;
    margin-right: 2px;
}
.base{
    padding-left: 8px;
}
.form-control{
    text-decoration: none;
    background:transparent;
    border-bottom: 2px solid var(--y);
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 2px;
    color: white;
    font-size: 27px;
}
.container{
    font-size: 20px;
    max-width: 400px;
    margin:30px auto;
    padding: 20px;
    border-radius: 7px;
    border: 2px solid rgba(107, 106, 106, 0.048);
}
.form-control:focus{
    outline: none;
}
#root{
    --y:rgb(176, 6, 243);
}
.underline-purple {
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-color: var(--y);
    text-decoration-thickness: 2px; /* Adjust thickness as needed */
  }
.btn-primary{
    width: 100%;
    
    color: var(--y);
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid  #333435;
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 8px;
}
.btn-primary:active{
    border: 1px solid var(--y);
    background-color:rgb(176, 6, 243);;
    --y:#333435;
    color:  #333435;
}

.names {
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        color: #0087ca;
        transition: 0.25s all;
    }
    .unique {
        color: var(--y); /* Change color */
        font-weight: bold; /* Make it bold */
        text-decoration: underline; /* Underline the text */
         /* Italicize the text */
    }
    select {
        background-color:  #333435;
        color: var(--y);
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }
      
      select option {
        background-color:  #333435;
        color:var(--y);
      }
      @media (max-width: 400px) {
        .basse{font-size: 2.5em;}
      }

.loader {
    width: 50px;
    aspect-ratio: 2;
    display:inline-flex;

    --_g: no-repeat radial-gradient(circle closest-side,var(--y) 90%, transparent);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }